<!DOCTYPE html>
<html>
<head>
        <title>Auto Fill</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../js/index.js"></script>

</head>
<body>
<!-- <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #f9ccc2 ;"> 
       <div class="container-fluid">
          <div class="navbar-header ">
            <a class="navbar-brand" href="/"><strong class="black_text">Auto-Fill (Application Bharo)</strong></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              {% if session.email %}
            <li><a href="/"><span class="glyphicon glyphicon-home black_text"></span> <strong class="black_text">Home</strong></a></li>
            <li><a href="autofill"><span class="glyphicon glyphicon-ok black_text"></span> <strong class="black_text">Autofill</strong></a></li>
            <li><a href="{{ url_for('details') }}"><span class="glyphicon glyphicon-cog black_text"></span> <strong class="black_text">Details</strong></a></li>
            <li><a href="help"><span class="glyphicon glyphicon-question-sign black_text"></span> <strong class="black_text">Help</strong></a></li>
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in black_text"></span> <strong class="black_text">Log out</strong></a></li>

            {% else %}
            <li><a href="signup"><span class="glyphicon glyphicon-user black_text"></span> <strong class="black_text">Sign Up</strong></a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in black_text"></span> <strong class="black_text">Log in</strong></a></li>
            <li><a href="help"><span class="glyphicon glyphicon-question-sign black_text"></span> <strong class="black_text">Help</strong></a></li>

            {% endif %}
          </ul>
        </div>
</nav> -->
<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-header ">
      <a class="navbar-brand" href="/"><i class="fab fa-autoprefixer"></i> Application Bharo</a>
  </div>>
<ul class="nav nav-tabs">
    {% if session.isverified %}
    <li class="nav-item">
      <a class="nav-link" href="/" style="color :aliceblue"><i class="fas fa-home"></i><strong> Home</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('details') }}" style="color :aliceblue"><i class="fas fa-info-circle"></i><strong> Details</strong></a>
    </li>
    
    <li class="nav-item"> 

        <a class="nav-link" href="{{ url_for('logout') }}" style="color :aliceblue"><i class="fas fa-sign-out-alt"></i><strong> Logout</strong></a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="help" ><i class="fas fa-question-circle"></i><strong> Help</strong></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/" style="color :aliceblue"><i class="fas fa-home"></i><strong> Home</strong></a>
          </li>
    
      <li class="nav-item">
          <a class="nav-link" href="signup" style="color :aliceblue"><i class="fas fa-user-plus"></i><strong> Signup</strong></a>
        </li> 
      <li class="nav-item">
           <a class="nav-link" href="login_website" style="color :aliceblue"><i class="fas fa-sign-in-alt"></i><strong> Login</strong></a>
         </li>
         <li class="nav-item">
      
            <a class="nav-link active" href="help"><i class="fas fa-question-circle"></i><strong> Help</strong></a>
          </li>
      
         {% endif %}     
</ul>
</nav>
<!-- <div>
  <ul>
    <li><a href="" class="link_text">Getting Started</a></li>
    <li><a href="">How to autofill</a></li>
    <li><a href="">How to autoupdate</a></li>
  </ul>
</div> -->
<div class="jumbotron">
  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
      <div class="wrapper wrapper--w680" id="grad1">
          <div class="card card-1">
            <div class="card-body">
                <ul>
                     
<li><a href="" class="link_text">Getting Started</a></li>
<div>
  <p><b><i>When you land on this site, firstly register your account with a valid Email ID. <br> For that click on the Signup button on the
    navigation bar. <br> Fill the form with correct details and your account is ready. <br>
    Now, go to login page and enter your email and password and press submit. <br> This will take you to verification page and you will receive an 
    OTP at your email ID. <br> Enter this OTP in the enter OTP field and click on submit.<br> Bravo, you are a verified user now ! <br>
    Login to your account and change your details as much as you want.</i></b>
  </p>
</div>
<li><a href="">How to autofill</a></li>
<div>
  <p><b><i>
    Open the website you want to autofill your form with the Application-Bharo tool. <br>
    Click on the autofill extension on the top right corner. <br>
    Enter your email ID and password and click on OK button. You are now logged in. <br>
    Click on Autofill button and your form will get autofilled itself with the data you have already provided in the site. <br>
    Congratulations, your form is AUTOFILLED ! <br>
    HAPPY AUTOFILLING :) </i></b>
  </p>
</div>
<li><a href="">How to autoupdate</a></li>
<div>
  <p><b><i>
    When autofilling a form click on the extension and log in. <br>
    Now when you fill any field of the form which you have already not provided at the website, click on the Autoupdate button. <br>
    And done. <br>
    New field and its value is autoupdated. <br>
  </i></b></p>
</div>
                  </ul>
              </div>
            </div>
          </div>
    </div>
</div>
</body>
</html>
