<!-- Default form login -->

<!DOCTYPE html>
<html>
<head>
        <title>Auto Fill</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <script>
            function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      } 
          </script>
</head>
<body class="main">
        <!-- <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #f9ccc2 ;"> 
                <div class="container-fluid">
                   <div class="navbar-header ">
                     <a class="navbar-brand" href="/"><strong class="black_text">Auto-Fill (Application Bharo)</strong></a>
                   </div>
                   <ul class="nav navbar-nav navbar-right">
                     <li><a href="/"><span class="glyphicon glyphicon-home black_text"></span> <strong class="black_text">Home</strong></a></li>
                     <li><a href="signup"><span class="glyphicon glyphicon-user black_text"></span> <strong class="black_text">Sign Up</strong></a></li>
                     <li><a href="login"><span class="glyphicon glyphicon-log-in black_text"></span> <strong class="black_text">Log in</strong></a></li>
                     <li><a href="help"><span class="glyphicon glyphicon-question-sign black_text"></span> <strong class="black_text">Help</strong></a></li>

                   </ul>
                 </div>
         </nav> -->

         <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
              <!-- <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
              <i class="fab fa-autoprefixer"></i>
              Application Bharo
            </a>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color :aliceblue"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signup" style="color :aliceblue"><i class="fas fa-user-plus"></i> Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="login_website"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help" style="color :aliceblue"><i class="fas fa-question-circle"></i> Help</a>
              </li>
            </ul>
          </nav>

          <div class="jumbotron">
              <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
                  <div class="wrapper wrapper--w680" id="grad1">
                      <div class="card card-1">
                        <div class="card-body">

                 
          <h2 align="center">Log In</h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" style="width: auto; display: inline-block;">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}

          <form class="form-horizontal" method=POST action="{{ url_for('login_website') }}">
            
            
            <div class="form-group row col-sm-10" >
              <label class="col-form-label" for="email">Email:</label>
              <div style="margin-left: 4%" class="col-sm-10">
                <input required type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
            </div>
              
  
            <div class="form-group row col-sm-10" >
              <label class="col-form-label" for="pwd">Password:</label>
              <div class="col-sm-10">          
                <input required pattern="[A-Za-z0-9]{6,12}" type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                <input style="margin-left: -49%; margin-top: 1%" type="checkbox" onclick="myFunction()"><span style="margin-left: -47%;">Show password</span>
              </div>
            </div>
      
          <div class="form-group row col-sm-10" style="margin :0em; padding:0em">        
                  <div class="">
                    <button type="submit" class="btn btn--radius btn--green btn btn-primary">Submit</button>
                    
                  </div>
          </div>
          <br>
          <div class="row col-sm-10">        
            <div class="">
            <a href="{{ url_for('forgetpassword') }}"> Forgot Password ?</a>                  
            </div>
          </div>

          <div class="row col-sm-10"> 
            <div class="">
              <a href="{{ url_for('signup') }}"> Not a member? Register</a>
            </div>
          </div>

            </div>
                      
      
          </form>
          
        </div>
      </div>
    </div>
</div>
</div>
     
    </body>
</html>
