<!DOCTYPE html>
<html>
  <head>
    <title>Wonderful Extension</title>
    <script src="../js/popup.js"></script>
    <script src="../js/options.js"></script>     
    <script src="../js/content.js"></script>     

     
  </head>
  <body>   
    <div style="display: none;" id="container">
    <div style="padding: 20px 20px 20px 20px;">           
        <h3>Hello,</h3>
        <p>Please enter your email: </p>         
        <input id="name_textbox" />    
        <p>Please enter your Password: </p>         
        <input type="password" id="pass_textbox" />                 
         <button id="ok_btn" type="button">Login</button>
    </div>      
    </div>
    <div id="logined" style="display: none;">
    <div id="logine" style="padding: 20px 20px 20px 20px;">
        <button id="autofill_btn" type="button">Autofill</button>

    </div>

    <div id="logout" style="padding: 20px 20px 20px 20px;">
        <button id="logout_btn" type="button">Logout</button>

    </div>
    <div id="logine_autp" style="padding: 20px 20px 20px 20px;">
      <button id="autoupdate_btn" type="button">AutoUpdate</button>

  </div>
    </div>

  </body>
</html>